<ion-content>
  <ion-grid class="container">
    
      <ion-row size="6" justify-content-between class="start">
        <ion-col size="4">
          <div class="label">You</div>
          <div class="grade">A</div>
          <div class="label">Your Neighborhood</div>
          <div class="grade">B</div>
        </ion-col>
        <ion-col size="4">
          <div class="label">Your Balance</div>
            <ion-chip class="chip" (click)="onClickPoints()">
                <ion-label ><span class="points">{{4872}}</span>pts</ion-label>
              </ion-chip>
        </ion-col>
      </ion-row>

      <ion-row justify-content-center size="12" class="middle-row">
        <ion-col align-self-center size="8">
            <div>
                <div>
                    <ion-icon name="ios-information-circle" (click)="presentToast()" class="info"></ion-icon>
                    <ion-row justify-content-center>
                      <div class="plant">
                          <ion-spinner *ngIf="!plant"></ion-spinner>
                          <img *ngIf="plant" [src]="plant"> 
                      </div>        
                    </ion-row>
                </div>
                <div [ngClass]="[powerLevel, 'center', 'power', 'glow']">
                  {{reading}} kW.h
                </div>
            </div>
          
        </ion-col>
      </ion-row>

      <ion-row justify-content-center>
        <div class="center message">
            What a beautiful Plant! <br/>Keep saving the world!
        </div>
      </ion-row>


  </ion-grid>
</ion-content>